<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/style.css">

<head>
    <meta charset="utf-8" />
    <title>Pokedex</title>
</head>

<body>
    <div id="header">
        <%- include('./partials/header.ejs')%>
    </div>
    <h1>Pokedex</h1>
    <a href="/pokemons/new">New Pokemon</a><br />
    <div id="items">
        <% for (i=0; i < pokedex.length; i++) { %>
            <h2>
                <%=pokedex[i].name%> | ID:<%=pokedex[i].id%>
            </h2>
            <a href="/pokemons/<%=i%>"><img src="<%=pokemons[i].img%>"></a>
            <form action="/pokemons/<%=i%>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE" />
            </form>
            <a href="/pokemons/<%=i%>/edit">Edit</a>
            <% } %>
    </div>
</body>

</html>