<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
    <%- include("./partials/header.ejs") %>
<body>
    <a href="/pokemons"><img class="arrow" src="/img/arrow.png" width="20px"></a>
    <div class="showcontainer">
        <div id="types">
            <img id="pokemon-img-showpage" src="<%=aPokemon.img%>" width="300px" />
            <h4><%= aPokemon.name %></h4>
            <h4><%= aPokemon.type%></h4>
            <form class="button-showpage" action="/pokemons/<%= index %>/edit">
                <input class="edit-button" type="submit" value="EDIT">
            </form>
            <form class="button-showpage" action="/pokemons/<%= index %>?_method=DELETE" method="POST">
                <input class="delete-button" type="submit" value="DELETE">
            </form>
        </div>
    </div>
    <div class="showcontainer">
        <div id="stats">
            <p>HP: <%= aPokemon.stats.hp %></p>
            <p>Attack: <%= aPokemon.stats.attack %></p>
            <p>Defense: <%= aPokemon.stats.defense %></p>
            <p>Spattack: <%= aPokemon.stats.spattack %></p>
            <p>Spdefense: <%= aPokemon.stats.spdefense %></p>
            <p>Speed: <%= aPokemon.stats.speed %></p>
        </div>
    </div>
</body>
</html>