<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
        <%- include("./partials/header.ejs") %>
</head>

<body>
    <div class="showcontainer">
        <div id="types">
            <h4>
                <%= aPokemon.name %>
            </h4>
            <h4>
                <%= aPokemon.type%>
            </h4>
            <form class="button-showpage" action="/pokemons/<%= index %>/edit">
                <input class="edit-button" type="submit" value="EDIT">
            </form>
            <form class="button-showpage" action="/pokemons/<%= index %>?_method=DELETE" method="POST">
                <input class="delete-button" type="submit" value="DELETE">
            </form>
        </div>
    </div>
    <div class="showcontainer">
        <div id="stats">
            <% for (const stats in pokemonId.stats) {%>
                <p>
                    <%=stats%>: <%=pokemonId.stats[stats]%>
                </p>
                <% } %>
        </div>
    </div>
</body>

</html>